openapi: 3.2.0
info:
  title: IntakeQ Invoices API
  description: The IntakeQ API is a documented REST API for the IntakeQ / PracticeQ practice management platform used by health and wellness practitioners.
  version: '1.0'
  contact:
    name: IntakeQ
    url: https://intakeq.com
servers:
- url: https://intakeq.com/api/v1
  description: IntakeQ production API
security:
- authKey: []
tags:
- name: Invoices
  description: Invoice query and retrieval.
paths:
  /invoices:
    get:
      operationId: queryInvoices
      tags:
      - Invoices
      summary: Query invoices
      description: Returns a maximum of 100 records per request.
      parameters:
      - name: clientId
        in: query
        schema:
          type: integer
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: status
        in: query
        schema:
          type: string
      - name: practitionerEmail
        in: query
        schema:
          type: string
      - name: number
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          type: integer
      - name: lastUpdatedStartDate
        in: query
        schema:
          type: string
          format: date
      - name: lastUpdatedEndDate
        in: query
        schema:
          type: string
          format: date
      responses:
        '200':
          description: A list of invoices.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /invoices/{invoiceId}:
    get:
      operationId: getInvoice
      tags:
      - Invoices
      summary: Retrieve a single invoice
      parameters:
      - name: invoiceId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid X-Auth-Key.
  schemas:
    Invoice:
      type: object
      properties:
        Id:
          type: string
        Number:
          type: string
        ClientId:
          type: integer
        ClientName:
          type: string
        Status:
          type: string
        TotalAmount:
          type: number
        AmountPaid:
          type: number
        Currency:
          type: string
        DateIssued:
          type: integer
      additionalProperties: true
  securitySchemes:
    authKey:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: The account API key found under More > Settings > Integrations > Developer API.
