openapi: 3.0.3
info:
  title: IntakeQ Appointments Treatment Notes API
  description: The IntakeQ API is a documented REST API for the IntakeQ / PracticeQ practice management platform used by health and wellness practitioners. It exposes clients, appointments, intake questionnaires and consent forms, treatment notes, invoices, and file attachments. All endpoints live under https://intakeq.com/api/v1 and every request must carry the account's API key in an `X-Auth-Key` header (found under More > Settings > Integrations > Developer API). Several resources also emit webhooks (intake completed, note locked, invoice events) configured in the API settings; those are server-to-endpoint HTTP callbacks and are not modeled as request/response operations here.
  version: '1.0'
  contact:
    name: IntakeQ
    url: https://intakeq.com
servers:
- url: https://intakeq.com/api/v1
  description: IntakeQ production API
security:
- authKey: []
tags:
- name: Treatment Notes
  description: Treatment / clinical notes and PDF export.
paths:
  /notes/summary:
    get:
      operationId: queryTreatmentNotes
      tags:
      - Treatment Notes
      summary: Query treatment note summaries
      parameters:
      - name: client
        in: query
        schema:
          type: string
      - name: clientId
        in: query
        schema:
          type: integer
      - name: status
        in: query
        schema:
          type: integer
      - name: startDate
        in: query
        schema:
          type: string
          format: date
      - name: endDate
        in: query
        schema:
          type: string
          format: date
      - name: page
        in: query
        schema:
          type: integer
      - name: updatedSince
        in: query
        schema:
          type: string
          format: date
      - name: deletedOnly
        in: query
        schema:
          type: boolean
      responses:
        '200':
          description: A list of treatment note summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TreatmentNoteSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notes/{noteId}:
    get:
      operationId: getTreatmentNote
      tags:
      - Treatment Notes
      summary: Retrieve a full treatment note
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The full treatment note as JSON.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        '401':
          $ref: '#/components/responses/Unauthorized'
  /notes/{noteId}/pdf:
    get:
      operationId: downloadTreatmentNotePdf
      tags:
      - Treatment Notes
      summary: Download a treatment note as PDF
      parameters:
      - name: noteId
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: The treatment note PDF.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  responses:
    Unauthorized:
      description: Missing or invalid X-Auth-Key.
  schemas:
    TreatmentNoteSummary:
      type: object
      properties:
        Id:
          type: string
        ClientName:
          type: string
        ClientId:
          type: integer
        Status:
          type: integer
        Date:
          type: integer
        NoteName:
          type: string
      additionalProperties: true
  securitySchemes:
    authKey:
      type: apiKey
      in: header
      name: X-Auth-Key
      description: The account API key found under More > Settings > Integrations > Developer API.
